:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);

  --form-bg-color: #1a1a1d;
  --input-bg-color: transparent;
  --input-border-color: #ffffff80;
  --border-radius: 8px;

}

